.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  color: #f5f6f7;
  a {
    font-size: 25px;
    color: #f5f6f7;
  }
}

body {
  background-color: #1e272e;
}
