.toiletpage_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toiletpage_buttons_mode {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 15px;

  &_buttons {
    &_all_time {
      margin-left: 10px;
    }

    &_month {
      display: flex;
      align-items: center;
      flex-direction: row;

      &_arrows {
        margin-top: 10px;
      }
    }
  }
}

.month_name {
  color: #67e6dc;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.mode_name {
  color: #67e6dc;
  padding-right: 10px;
  padding-left: 10px;
}

.arrow {
  border: solid #f5f6f7;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.functional_buttons {
  display: flex;
}

.mybtn_show {
  font-size: 20px;
  margin-right: 10px;
  color: #f5f6f7;
  cursor: pointer;
}

.mybtn_add {
  margin-right: 10px;
  font-size: 20px;
  color: #f5f6f7;
  cursor: pointer;
}

@media (max-width: 480px) {
  .toiletpage_button {
    margin-left: 10px;
  }
}
