.mode_buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  a {
    color: #f5f6f7;
    font-size: 24px;
  }

  &_arrowleft {
    border: solid #f5f6f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 15px;
    cursor: pointer;
  }

  &_arrowright {
    border: solid #f5f6f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 15px;
    cursor: pointer;
  }
}
