.mainpage {
  display: flex;
  flex-direction: column;
  height: 94.7vh;

  &_mode {
    display: flex;
    flex-direction: row;
    border-bottom: 0.2px solid lightslategray;
    height: 40px;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 0.2px solid lightslategray;
    height: 40px;
    color: #fff;

    &_month {
      display: flex;
      justify-self: center;
      flex-direction: row;

      &_arrows {
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }

  &_graph {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
.month_name {
  font-size: 20px;
  margin-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

.arrow {
  border: solid lightslategray;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media (max-width: 480px) {
  .month_name {
    font-size: 11px;
  }
  .arrow {
    border: solid lightslategray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
  }

  .mainpage {
    height: 150vh;
  }

  .mainpage_buttons_month_arrows {
    margin-top: 3px;
  }
}
