.mode_buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  a {
    color: #f5f6f7;
    font-size: 24px;
  }

  &_arrowleft {
    border: solid #f5f6f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 15px;
    cursor: pointer;
  }

  &_arrowright {
    border: solid #f5f6f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 15px;
    cursor: pointer;
  }
}

.mainpage_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mybtn_show {
  font-size: 20px;
  margin-right: 10px;
  color: #25c2a0;
  cursor: pointer;
}

.mybtn_add {
  margin-right: 10px;
  font-size: 20px;
  color: #25c2a0;
  cursor: pointer;
}

.fullstats {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 120px;

  &_stats {
    display: flex;
    justify-content: space-around;

    &_center {
      display: flex;
      align-items: center;
      justify-content: column;
      flex-direction: column;
    }
  }

  p {
    font-size: 20px;
    color: #f5f6f7;
  }
}

@media (max-width: 480px) {
  .fullstats {
    p {
      font-size: 12px;
    }
    img {
      width: 128px;
      height: 128px;
    }
  }
}
